@media only screen and (max-device-width: 600px){

/*geral*/
    
    .cabecalho{
        justify-content: flex-end;
    }

/*pag de suporte*/
    #itens{
        left: 0;
    }

    .primary{
        display: none;
        
    }

    .secondary{
        display: none;
    }

    .login{
        background-color: #0909E5;
        color: white;
        display: flex;
        padding: 5px 10px;
        margin: 5px 30px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
    }

    #logintext{
        display: none;
    }

    .suporte{
        padding: 15px 10px;
    }

    .painel{
        display: flex;
        width: 60%;
        height: 60%;
    }

    .download{
        background-color: #50a6f3;
        width: 80%;
        left: 20px;
        align-items: center;
        justify-content: center;
    }

    .baixar{
        justify-content: center;
        display: flex;
        margin: 15px;
        background-color: #50a6f3;
    }

    #seta{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #burger{
        margin: 48px 10px;
    }

    .voltar{
        height: 10%;
        padding: 0 30px;
    }

    #volta{
        display: flex;
        color: white;
        background-color: transparent;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 36px;
    }

    #back{
        display: none;
    }

/*pag de login*/
    b{
        display: flex;
    }

    #login_email{
        border-radius: 50px;    
    }

    #login_senha{
        border-radius: 50px;
    }

    input{
        border-radius: 50px;
    }

    #semConta{
        display: flex;
        bottom: 30px;
        align-items: center;
        align-content: center;
        word-wrap: normal;
    }

    h1{
        display: inline;
    }
}