@media only screen and (max-device-width: 600px){

/*gabriel*/

    .primary{
        display: none;
        
    }

    .secondary{
        display: none;
    }

    .login{
        background-color: #0909E5;
        color: white;
        display: flex;
        padding: 5px 10px;
        margin: 5px 30px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
    }

    #logintext{
        display: none;
    }

    .suporte{
        padding: 15px 10px;
    }

    .painel{
        display: flex;
        width: 50%;
        height: 60%;
    }

    .download{
        background-color: #50a6f3;
        width: 80%;
        left: 20px;
        align-items: center;
        justify-content: center;
    }

    .baixar{
        justify-content: center;
        display: flex;
        margin: 15px;
        background-color: #50a6f3;
    }

    #burger{
        margin: 48px 10px;
    }

    .voltar{
        height: 10%;
    }

    #volta{
        display: flex;
        color: white;
        background-color: transparent;
        width: 80%;
        align-items: center;
        justify-content: center;

    }

    #back{
        display: none;
    }
}