*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}
body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    
    /* justify-content: center;
    align-items: center; */


}

footer{
 bottom:0;
}
#table-line{
    border-bottom: solid 1px;
    
}

.itens-table{
    display:flex;
    position: relative;
    gap:3px;
}
.table-collumn-first{
    margin: 1000px;
}
.itens-footer{
    display:flex;
}

.logo img{
    width: 200px;
}


/* arthur */

#pagLogin{
    margin-top: 50px;
    align-items: center;
    margin-left: 422px;
}

#pagLogin p{
margin-top: 0px;
color: #01005A;
padding-bottom: 20px;


}

#Esqueci{
    margin-top: -32px;
    color: #01005A;
    padding-top: 16px;
    margin-left: 10px 

}

#pagLogin h1{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125.02%;    
    color: #000000;
    margin-bottom: 45px;
    margin-left: 23px;
}

#login_email{
box-sizing: border-box;
width: 500px;
height: 70px;
left: 120px;
top: 500px;
border: 5px solid #6C6464;
border-radius: 20px;
margin:20px 20px 20px 1px;
padding: 20px 20px 15px 20px;
}


#login_senha{


box-sizing: border-box;
width: 500px;
height: 70px;
left: 70px;
top: 500px;
border: 5px solid #6C6464;
border-radius: 20px;
padding: 20px 20px 15px 20px;

}

#entrar{
cursor: pointer;
width: 180px;
height: 75px;
margin-left: 150px;
left: 727px;
top: 1514px;
background: #01005A;
border-radius: 10px;
margin-top: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

#entrar :hover button{
background-color: blue;
}

#entrar h2{
color:white;
padding: 0;
}

#semConta{

margin-left: 161px;
margin-top: 8px;
}


#loginVoltar{
width: 180px;
height: 75px;
left: 22px;
top: 1892px;
background: #01005A;
border-radius: 8px;
margin-top: 80px;
margin-right: 90px;
padding-left: 2%;
padding-right: 2%;
}

#loginVoltar{

    padding-right: 2%;
}

#loginVoltar h2{
color:white;
padding: 0;
}

#ocultar{
 height: 60px; 
 cursor: pointer;
 padding: 5%;
 margin-top: -112px;
 margin-left: 383px;
}

#pacotes{
    display: flex;
        width: 1129px;
    height: 180px;
    left: 53px;
    top: 159px;
    margin-left: 200px;
    background: #01005A;
    border-radius: 10px;
    
    
    }
    
    #local{
    margin-top: 47px;
    margin-left: 50px;
    }
    
    #local button{
       border:none;
        width: 200px;
    height: 60px;
    left: 108px;
    top: 1728px;
    color: white;
    background: #50A6F3;
    border-radius: 10px;
    
    
    }
    
    #local h4{
        color:white;
        font-size: 20px; 
    }
    
    #local h5{
        font-size: 20px;
    }
    
    #destino{
        margin-top: 44px;
        margin-left:100px;
        border-radius: 10px;
    }
    
    #destino button{
        border: none;
        width: 180px;
        height: 60px;
        left: 108px;
        top: 1728px;
        color: white;
        background: #50A6F3;
        border-radius: 10px;
    }
    
    #destino h4{
      font-size: 20px;
     color: white;
     margin-top: 3px;
    }
    
    #periodo{
       color: white;
        margin-top: 38px;
        margin-left: 84px;
    }
    
    #periodo h4{
        color: white;
        margin-left: 40px;
       font-size: 20px;   
    }
    
    #periodo button{
        width:104px ;
    }
    
    #ida{
        border: none;
        width: 150px;
        height: 60px;
        left: 108px;
        top: 1725px;
        color: white;
        background: #50A6F3;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 30px;
       opacity: 1;
    }
    #ida h2{
        display: flex;
    }
    
    #ida button{
    
        opacity: 1;
    }
    #ida button :hover{
        opacity: 0.1;
    }
    
    #ida img{
    
    height: 20px;
    
    }
    
    #volta{
        border: none;
        width: 150px;
        height: 60px;
        left: 108px;
        top: 1728px;
        color: white;
        background: #50A6F3;
        border-radius: 10px;
        margin-right: 20px;
        margin-left: -20px;
        margin-top: 10px;
    }
    
    #volta img{
        height: 20px;
    }
    
    #catalogo{
        display: flex;
    }
    
    
    
    #buscar button{
        height: 30px;
        border: none;
        width: 137px;
        height: 60px;
        left: 108px;
        top: 1728px;
        color: white;
    color:white;
    background: #0000C3;
    border-radius: 10px;
    margin-top: 83px;
    margin-left: 84px;
    font-size: 23px;
    }
    
    #buscar img{
        height: 32px;
    }
    
    
    
    
    
    
    
    
    
/* gabriel */

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
}

header{
    background-color: #01005A;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100px;
}

.cabecalho{
    display: flex;
}

#burger{
    font-size: 48px;
}

#burger:hover{
    cursor: pointer;
}

li{
    background-color: #01005A;
    padding: 5px;
}

#itens{
    display: none;
    margin: auto;
    list-style: none;
    position: absolute;
    top: 70px;
}

.material-icons{
    font-size: 36px;
    color: white;
    display: flex;
    width: 50px;
    height: 50%;
    margin: auto;
    text-align: center;
    align-items: flex-start;
    font-size: 48px;
}

.logo{
    background-color: transparent;
    align-items: center;
    width: 15%;
    min-width: 180px;
    height: 10vh;
}

.logo img{
    width: 80%;
    position: relative;
    left: 30%;
}

.buttons{
    display: flex;
    height: 40%;
    margin: 0px 60px;
    padding: 50px 0px;
    align-items: center;
    align-content: center;
    top: 50%;
}

.primary{
    display: flex;
    color: white;
    background-color: #01005A;
    padding: 20px 10px;
    margin: 5px 40px 5px 60px;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
}

.primary:hover{
    background-color: #4070E9;
    transition: 0.2s;
}

.secondary{
    display: flex;
    color: white;
    background-color: #01005A;
    padding: 20px 10px;
    margin: 5px 40px;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
}

.secondary:hover{
    background-color: #4070E9;
    transition: 0.2s;
}

.login{
    background-color: #0909E5;
    color: white;
    display: flex;
    padding: 10px 15px;
    margin: 5px 50px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    cursor: pointer;
    align-items: center;
}

i{
    font-size: 48px;
}

button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#pessoa{
    padding: 6px 0;
}

p{
    font-size: medium;
    padding: 20px 30px;
}

h2{
    padding: 50px 0 0 20px;
    align-content: center;
}

.suporte{
    display: flex;
    color: white;
    background-color: #01005A;
    padding: 20px 15px;
    margin: 5px 40px 5px 60px;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
}

.painel{
    background-color: #01005A;
    margin: 30px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    flex-direction: column;
}

.painel img{
    width: 70%;
    background-size: 0;
}

#seta{
    margin: 0;
    background-color: white;
    color: #01005A;
    border-radius: 30px;

}

.download{
    display: flex;
    align-items: center;
}

.voltar{
    background-color: #01005A;
    margin: 30px;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

#volta{
    display: none;
}

/* santos */

main {
    margin: 120px;
}

#quemsomos {
    position: relative;
    top: -40px;
    left: 160px;
    font-size: 50px;
}

.text {
    margin-left: 60px;
    font-size: 25px;
}

.conteudo {
    display: flex;
}

#right {
    margin-left: 10px;
}

.imgs {
    width: 300px;
    height: 300px;
    margin-right: 100px;
    position: relative;
    top: -50px;
    right: -30px;
}

#img-right {
    position: relative;
    left: 92px;
}

#text-final {
    margin-left: 56px;
    position: relative;
    top: -117px;
    font-size: 25px;
}

#botao {
    background-color: #01005A;
    font-size: 40px;
    width: 179px;
    height: 80px;
    border-radius: 15px;
}

/* Final da Parte do santos*/



footer {
    background-color: #01005A;
    color: white;
    padding: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    font-size: 20px;
    display:flex;
    position: relative;
    bottom:0;
}

#logo {
    width: 450px;
    margin-left: 50px;
}

#text_copy {
    margin-left: 150px;
    top: auto;
}
.logo-rodape{
    width: 100%;
}
.right-itens {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;
}

.right-itens p {
    margin: 0;    
}

.first-line{
    margin-bottom: 20px;
    font-size: 30px;
}

.social-icons {
    width: 100%;
    display:flex;
    background-color: transparent;
}

.social-icons img {
    width: 10px;
    height: 200px;
    margin: 10px;

}


#twitter {
    width: 125px;
    height: 125px;
}

#linkedin{
    width: 122px;
    height:122px;
}

#instagram{
    width: 130px;
    height: 130px;
}

#facebook{
    width: 125px;
    height: 125px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 100px;
}

#botao {
    background-color: #01005A;
    font-size: 25px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    top: 1119px;
}

#quemsomos {
    margin-left: 50px;
}

.text {
    margin-left: 80px;
}

.conteudo {
    display: flex;
}

#right {
    margin-left: -50px;
}

.imgs {
    width: 300px;
    height: 300px;
    margin-right: 100px;
    position: relative;
    top: -50px;
    right: -30px;
}

#text-final {
    margin-left: 20px;
    position: relative;
    top: -90px;
}

header{
    background-color: #01005A;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 100px;
}

.cabecalho{
    display: flex;

}
#burger{
    font-size: 48px;
}

#burger:hover{
    cursor: pointer;
}

li{
    background-color: #01005A;
    padding: 5px;
}

#itens{
    display: none;
    margin: auto;
    list-style: none;
    position: absolute;
    top: 70px;
}

.material-icons{
    font-size: 36px;
    color: white;
    display: flex;
    width: 50px;
    height: 50%;
    margin: auto;
    text-align: center;
    align-items: flex-start;
    font-size: 48px;
}

.logo{
    background-color: transparent;
    width: 15%;
    align-items: center;
}

.logo img{
    width: 80%;
    position: relative;
    left: 30%;
    padding-bottom: -20%;
}

.buttons{
    display: flex;
    height: 40%;
    margin: 0px 60px;
    padding: 50px 0px;
    align-items: center;
    align-content: center;
    top: 50%;
    
}

.primary{
    display: flex;
    color: white;
    background-color: #01005A;
    padding: 20px 10px;
    margin: 5px 40px 5px 60px;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 5%;
}

.primary:hover{
    background-color: #4070E9;
}

.secondary{
    display: flex;
    color: white;
    background-color: #01005A;
    padding: 20px 10px;
    margin: 5px 40px;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 5%;
}

.secondary:hover{
    background-color: #4070E9;
}

.login{
    background-color: #0909E5;
    color: white;
    display: flex;
    padding: 10px 15px;
    margin: 5px 50px;
    border-radius: 10%;
    border: none;
    font-size: medium;
    cursor: pointer;
    align-items: center;
}

i{
    font-size: 48px;
}

button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#pessoa{
    padding: 6px 0;
}

footer {
    background-color: #01005A;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
}

#logo {
    width: 450px;
    margin-left: 50px;
}

#text_copy {
    margin-left: 150px;
    top: auto;
}

.right {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;
    
}

.right p {
    margin: 0;
    
}

.right h2 {
    margin-bottom: 20px;
}

.social-icons {
    width: 100%;
    display: grid;
}

.social-icons img {
    width: 150px;
    height: 150px;
}

#faceb {
    width: -1000px;
}

#linked {
    width: 29%;
    height: 29%;
}